body {
  font-family: "Roboto", serif;
  color: #fdfffc !important;
  background-color: #161925 !important;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.introduction {
  border: 1px solid #161925;
  border-bottom: 1px solid #fdfffc;
  text-align: center;
  padding: 10rem 2rem;
  background-color: #0c0e14;
}

.introduction h1 {
  font-size: 3.5rem;
  color: #fdfffc;
  margin-bottom: 0;
}

.introduction p {
  font-size: 1.8rem;
  color: #fdfffc;
  position: relative;
  overflow: hidden;
}

.introduction p span {
  position: relative;
  color: #007f4c;
}

.introduction p span:hover {
  text-decoration: underline;
}

.introduction p span a {
  color: #007f4c;
  text-decoration: none;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 2rem 5%;
}

.project-preview {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #0c0e14;
  padding: 1rem;
  box-sizing: border-box;
}

.project-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .project-preview {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .project-preview {
    width: 100%;
  }
}

.post-info {
  border: 2px solid white;
  text-align: center;
}

.technologies {
  display: inline-block;
  width: 10%;
}
