:root {
  --bg-dark: #0f172a;
  --bg-secondary: #1e293b;
  --amber-primary: #d97706;
  --amber-secondary: #fbbf24;
  --emerald-primary: #059669;
  --emerald-secondary: #10b981;
  --text-white: #ffffff;
  --text-dark: #020617;
}

body {
  font-family: "Roboto", serif;
  color: var(--text-white) !important;
  background-color: var(--bg-dark) !important;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.introduction {
  border: 1px solid var(--bg-dark);
  border-bottom: 1px solid var(--text-white);
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--bg-secondary);
}

.introduction h1 {
  font-size: 3.5rem;
  color: var(--text-white);
  margin-bottom: 0;
}

.introduction p {
  font-size: 1.8rem;
  color: var(--text-white);
  position: relative;
  overflow: hidden;
}

.introduction p span {
  position: relative;
  color: var(--emerald-primary);
}

.introduction p span:hover {
  text-decoration: underline;
}

.introduction p span a {
  color: var(--emerald-primary);
  text-decoration: none;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 2rem 5%;
}

.project-preview {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--emerald-primary);
  border-radius: 10px;
  background-color: var(--bg-secondary);
  padding: 1rem;
  box-sizing: border-box;
}

.project-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .project-preview {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .project-preview {
    width: 100%;
  }
}

.post-info {
  border: 2px solid var(--emerald-primary);
  text-align: center;
}

.technologies {
  display: inline-block;
  width: 10%;
}

footer {
  background-color: var(--bg-secondary);
  color: var(--text-white);
  padding: 2rem;
  text-align: center;
}

.s-btn {
  margin: 1em;
  padding: 1rem 2rem;
}

.s-btn li {
  list-style: none;
}

.s-btn li a {
  color: var(--text-dark);
  text-decoration: none;
}

.s-btn li a:hover {
  color: var(--text-dark);
}

.s-btn:hover {
  color: var(--text-dark);
  font-weight: bold;
}
